<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.4.3.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="/styles/admin.css">
<script type"text/javascript" src="/js/dependencies/sails.io.js"></script>
<script type"text/javascript" src="/js/dependencies/underscore.js"></script>
<script type"text/javascript" src="/js/dependencies/dashboard_solar.js"></script>
</head>

<body data-page='solar' id='the-body'>
<h1>Welcome to the Admin Solar Section</h1>


<ul id='menu-nav'>
  <li><a href="/admin/admin/solars">Solar Devices</a></li>
  <li><a href="/admin/admin/social">Social Sharing</a></li>
  <li><a href="/admin/admin/known">Known Addresses</a></li>
  <li><a href="/admin/admin/users">Users</a></li>
</ul>

<!--
<ul id='solar_device_list'>
	
</ul>
-->
<!--<a href="/admin/social">User Social Admin</a><br/>-->

<button class='solar-filter' id='pending-filter'>pending</button>
<button class='solar-filter' id='locally-rejected-filter'>Locally Rejected</button>
<button class='solar-filter' id='submitted-filter'>Submitted to Granting Machine</button>
<button class='solar-filter' id='granting-approved-filter'>Granting Approved</button>
<button class='solar-filter' id='granting-rejected-filter'>Granting Rejected</button>
<button class='solar-filter' id='all-filter'>All Solar Devices</button>
<button id='approve_all'>Approve All</button>
<button id='export-solar-devices'>Export Selected Solar Devices</button>

<table id='solar_device_table' border="1" style="width:100%">
	<tr id='header'>
	<strong>
		<td><button class='arrange' id='user-arrange' data-arrange='user'>User</button></td>
		<td><button class='arrange normal-arrange' data-arrange='firstName'>Owner</button></td>
		<td><button class='arrange normal-arrange' data-arrange='date_of_installation'>Installation Date</button></td>
		<td><button class='arrange normal-arrange' data-arrange='address'>Address Line</button></td>
		<td><button class='arrange normal-arrange' data-arrange='city'>City</button></td>
		<td><button class='arrange normal-arrange' data-arrange='state'>State</button></td>
		<td><button class='arrange normal-arrange' data-arrange='country'>Country</button></td>
		<td><button class='arrange normal-arrange' data-arrange='nameplate'>Nameplate</button></td>
		<td><button class='arrange normal-arrange' data-arrange='solar_angel_code'>Solar Angel Code</button></td>
		<td><button class='arrange' id='key-arrange' data-arrange='key'>Wallet Address</button></td>
		<td>Installation File</td>
		<td><button class='arrange normal-arrange' data-arrange='status'>Status</button></td>
		<td><button class='arrange normal-arrange' data-arrange='submission_date'>Submission Date</button></td>
		<td><button class='arrange normal-arrange' data-arrange='last_action_date'>Last Action Date</button></td>
        <td></td>
        <td></td>
        <td></td>
        <td><input type='checkbox' id='select_all_for_export'>Select All</input></td>
	</strong>
	</tr>


</table>

<% 

%>
</body>
</html>