<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.4.3.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="/styles/admin.css">
</head>

<body>

<h1>Admin</h1>
  <form method="POST" action="/admin/login">
  <input id='email-login' type="email" name="email">
  <input id='pass-login' type="password" name="password">
  <input id='login-submit' type="submit" value="submit">
</form>


</body>
</html>