<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.4.3.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="/styles/admin.css">
<script type"text/javascript" src="/js/dependencies/sails.io.js"></script>
<script type"text/javascript" src="/js/dependencies/underscore.js"></script>
<script type"text/javascript" src="/js/dependencies/dashboard_solar.js"></script>
</head>

<body>
<h1>Welcome to the Admin Solar Section <%=user.name %></h1>

<!--
<ul id='solar_device_list'>
	
</ul>
-->
<!--<a href="/admin/social">User Social Admin</a><br/>-->

<button class='solar-filter' id='pending-filter'>pending</button>
<button class='solar-filter' id='locally-rejected-filter'>Locally Rejected</button>
<button class='solar-filter' id='submitted-filter'>Submitted to Granting Machine</button>
<button class='solar-filter' id='granting-approved-filter'>Granting Approved</button>
<button class='solar-filter' id='granting-rejected-filter'>Granting Rejected</button>
<button class='solar-filter' id='all-filter'>All Solar Devices</button>


<table id='solar_device_table' border="1" style="width:100%">
	<tr id='header'>
	<strong>
		<td>User</td>
		<td>Owner</td>
		<td>Installation Date</td>
		<td>Address Line</td>
		<td>City</td>
		<td>State</td>
		<td>Country</td>
		<td>Nameplate</td>
		<td>Wallet Address</td>
		<td>Installation File</td>
		<td>Status</td>
	</strong>
	</tr>


</table>

<% 

%>
</body>
</html>