<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.4.3.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="/styles/admin.css">
<script type"text/javascript" src="/js/dependencies/sails.io.js"></script>
<script type"text/javascript" src="/js/dependencies/underscore.js"></script>
<script type"text/javascript" src="/js/dependencies/dashboard_user_social.js"></script>
</head>
<script type="text/javascript">console.log('WTF')

$(document).ready(function(){
	console.log('eghlgbdilfghilsagsfighksafgiaghsfghklasfdgkhlafsdglhgafklsafgkls')
}
</script>
<body>
<h1>Welcome to the Admin Social Section</h1>

<!--
<ul id='solar_device_list'>
	
</ul>
-->

<table id='user_social_table' border="1" style="width:100%">
	<tr id='header'>
	<strong>
		<td>User</td>
		<td>Email</td>
		<td><button id='facebook-button'>Facebook</button></td>
		<td><button id='twitter-button'>Twitter</button></td>
		<td><button id='linkedin-button'>LinkedIn</button></td>
		<td><button id='solars-button'>Number of solar devices</button></td>
		<td><button id='pk-button'>Number of public keys</button></td>
	</strong>
	</tr>


</table>

</body>
</html>