<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.4.3.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="/styles/admin.css">
<script type"text/javascript" src="/js/dependencies/sails.io.js"></script>
<script type"text/javascript" src="/js/dependencies/underscore.js"></script>
<script type"text/javascript" src="/js/dependencies/dashboard_known.js"></script>
</head>
<script type="text/javascript">console.log('WTF')

</script>
<body data-page='known' id='the-body'>
<h1>Welcome to the Admin Known Address Section</h1>

<ul id='menu-nav'>
  <li><a href="/admin/solars">Solar Devices</a></li>
  <li><a href="/admin/social">Social Sharing</a></li>
  <li><a href="/admin/known">Known Addresses</a></li>
</ul>


<!--
<ul id='solar_device_list'>
	
</ul>
-->

<div id="organization-area">
New Organization: <input type="text" id='new-org-name' /><input type="text" id='new-org-email'><button id='new-org-submit'>Submit</button>
<table id='organization-table' border="1" style="width:100%">
	<tr id='header'>
	<strong>
		<td>Organization</td>
		<td>Email</td>
		<!-- <td><button>Edit</button></td> -->
	</strong>
	</tr>
</table>
</div>
<br/>

<div id="known-area">
New Known Address: <input type="text" id='new-known-key' /><select class="org-chooser" id='new-known-org'></select><button id='new-address-submit'>Submit</button>
<table id='known-address-table' border="1" style="width:100%">
	<tr id='header'>
	<strong>
		<td>Known Address</td>
		<td>Organization</td>
	</strong>
	</tr>
</table>
</div>

</body>
</html>